<!DOCTYPE html>
<html>
    <head>
        <title>Absensi Kuliah</title>
    </head>
    <body>
        <h1>Mata Kuliah Hari Ini</h1>
        <button onclick="ambilAbsensi()">Ambil Foto</button>
        <p id="status"></p>
        
        <br>

        <a href="/dashboard">
            <button>Kembali</button>
        </a>

        <script>
            async function ambilAbsensi(){
                const res = await fetch("/api/absensi")
                const data = await res.json()
                document.getElementById("status").innerText = data.status
            }
        </script>
    </body>
</html>