<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>Sistem Absensi Digital Mahasiswa</h1>
        <input id="email" placeholder="Email"><br>
        <input id="password" type="password" placeholder="Password"><br>
        <button onclick="login()">Login</button>

        <p id="msg"></p>

        <script>
            async function login() {
                const email = document.getElementById("email").value
                const password = document.getElementById("password").value
                const res = await fetch("/login", {
                    method: "POST",
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify({email, password})
                })

                const data = await res.json()
                if (data.success) { // berhasil login
                    window.location.href = "/dashboard" 
                } else { // gagal login
                    document.getElementById("msg").innerText = "Login gagal"
                }
            }
        </script>

    </body>
</html>